@{
    ViewBag.Title = "Home Page";
    var userName = "Ассоциация аптек \"Анна\"";
}

<div class="jumbotron">
    <h1>@userName</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>
                <p>
                    <a href="@Url.Action("Index", "DevExample")">Участники</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
                </p>
            </li>
        </ul>
    </div>
</div>