@using Marketing.Models
@model Promoter
@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>@(Model?.Name ?? "[Пользователь не определён]")</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>
                <p>
                    <a href="@Url.Action("Index", "Members")">Участники</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="@Url.Action("Index", "Marketing")">Маркетинговые мероприятия</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="@Url.Action("Index", "DevExample")">Пример DevExpress</a>
                </p>
            </li>
        </ul>
    </div>
</div>