@using System.Web.UI.WebControls
@using Marketing.Models


@Html.DevExpress().GridView(settings => {
    settings.Name = "Таблица";
    settings.CallbackRouteValues = new { Action = "PromotionListGridView", Controller = "Marketing"};
    settings.ClientSideEvents.BeginCallback = "gridVIewBeginCallback";

    settings.PreviewEncodeHtml = false;
    settings.EncodeHtml = false;

    settings.Columns.Add(column =>
    {
        column.FieldName = "Name";
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Наименование";
        column.SetDataItemTemplateContent(c =>
        {
            var value = DataBinder.Eval(c.DataItem, "Id").ToString();
            var text = DataBinder.Eval(c.DataItem, "Name").ToString();
            string htmlContent = $"<a href=\"{Url.Action("PromotionEdit", new { id = value })}\">{text}</a>";
            ViewContext.Writer.Write(htmlContent);
        });
    });

    settings.Columns.Add(column =>
    {
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Условия акции";
        column.SetDataItemTemplateContent(c =>
        {
            var value = DataBinder.Eval(c.DataItem, "Id").ToString();
            string htmlContent = $"<a href=\"{Url.Action("PromotionСonditionsEdit", new { id = value })}\"  class=\"href-dots\">...</a>";
            ViewContext.Writer.Write(htmlContent);
        });
    });
    settings.Columns.Add(column => {
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Действие";
        column.SetDataItemTemplateContent(c => {
            var value = DataBinder.Eval(c.DataItem, "Id").ToString();
            var text = DataBinder.Eval(c.DataItem, "Name").ToString();
            var htmlContent = $"<a class='c-pointer' onclick=\"submit('Вы действительно ходите удалить производителя `{text}`?', 'Да','Нет','{Url.Action("PromotionDelete", new {id = value})}')\">удалить</a> | "
                + $"<a class='c-pointer' href='{Url.Action("PromotionChange", new { id = value })}'\">изменить</a>";
            ViewContext.Writer.Write(htmlContent);
        });
    });

    settings.Settings.VerticalScrollableHeight = 500;
    settings.SettingsPager.PageSize = 100;
    settings.SettingsSearchPanel.Visible = true;
    settings.SettingsPager.Position = PagerPosition.TopAndBottom;
    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100", "150", "200" };
}).Bind(Model).GetHtml()
