@using System.Web.UI.WebControls
@using Marketing.ViewModels
@model List<MembersGridViewModel>
@{
	var regions = string.Join(",", ((List<ViewModelListItem>)ViewBag.AvailableRegions)
		.Where(r => r.Selected)
		.Select(r => r.Value.ToString()).ToArray());
}

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridMembers";
    settings.CallbackRouteValues = new { Action = "GetGridData", Controller = "Members", regionIdList = regions };
    settings.PreviewEncodeHtml = false;
    settings.EncodeHtml = false;
    settings.KeyFieldName = "MemberId";
    settings.Width = Unit.Percentage(100);

    settings.Columns.Add(column =>
    {
        column.FieldName = "Name";
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Наименование";
        column.SetDataItemTemplateContent(c =>
        {
            var value = DataBinder.Eval(c.DataItem, "MemberId").ToString();
            var text = DataBinder.Eval(c.DataItem, "Name").ToString();
            string htmlContent = $"<a href=\"{Url.Action("Edit", new { id = value })}\">{text}</a>";
            ViewContext.Writer.Write(htmlContent);
        });
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "AddressCount";
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Кол-во точек";
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Contacts";
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Маркетинг";
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Subscribes";
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Подписки на акции";
        column.SetDataItemTemplateContent(c =>
        {
            var value = DataBinder.Eval(c.DataItem, "MemberId").ToString();
            var text = DataBinder.Eval(c.DataItem, "Subscribes").ToString();
            if (string.IsNullOrEmpty(text))
                text = "[подписать]";
            string htmlContent = $"<a href=\"{Url.Action("Subscribes", new { id = value })}\">{text}</a>";
            ViewContext.Writer.Write(htmlContent);
        });
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Region";
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Регион";
    });
    settings.Columns.Add(column =>
    {
        column.PropertiesEdit.EncodeHtml = false;
        column.Caption = "Действие";
        column.SetDataItemTemplateContent(c =>
        {
            var value = DataBinder.Eval(c.DataItem, "MemberId").ToString();
            var text = DataBinder.Eval(c.DataItem, "Name").ToString();
            string htmlContent = $"<a class='c-pointer' onclick=\"submit('Вы действительно ходите удалить участника `{text}`?', 'Да','Нет','{Url.Action("Delete", "Members", new { memberId = value, regionIdList = regions })}')\">удалить</a>";
            ViewContext.Writer.Write(htmlContent);
        });
    });

    settings.SettingsPager.PageSize = 20;
    settings.SettingsSearchPanel.Visible = true;
    settings.SettingsPager.Position = PagerPosition.TopAndBottom;
    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100", "150", "200" };
}).Bind(Model).GetHtml()
